<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>
                <a href="{{ path('admin_dashboard') }}" class="flex ms-2">
                    <img src="{{ asset('images/chatstorylogo.png') }}" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">ChatStory</span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div class="flex items-center">
                        <a href="{{ path('app_home') }}" class="block rounded-md px-3 py-2 me-5 text-base font-medium text-gray-800 hover:bg-gray-100 hover:text-black">
                            Leave
                        </a>
                        <a href="{{ path('user_profile_edit') }}" type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 focus:ring-offset-white h-fit" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <img class="h-8 w-8 rounded-full" src="{{ app.user.image ? asset('uploads/profile_pictures/' ~ app.user.image) : asset('images/default_profile.png') }}" alt="{{ app.user.username }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="{{ path('admin_dashboard') }}" class="flex items-center p-2 rounded-lg group
                {% if app.request.attributes.get('_route') == 'admin_dashboard' %}
                    bg-blue-500 text-white
                {% else %}
                    text-gray-900 hover:bg-gray-100
                {% endif %}">
                    <svg class="w-5 h-5 transition duration-75 group-hover:text-gray-900 {% if app.request.attributes.get('_route') == 'admin_dashboard' %} text-white {% else %} text-gray-500 {% endif %}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"></path>
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"></path>
                    </svg>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_room_index') }}" class="flex items-center p-2 rounded-lg group
                {% if app.request.attributes.get('_route') == 'app_room_index' %}
                    bg-blue-500 text-white
                {% else %}
                    text-gray-900 hover:bg-gray-100
                {% endif %}">
                    <svg class="w-5 h-5 transition duration-75 group-hover:text-gray-900 {% if app.request.attributes.get('_route') == 'app_room_index' %} text-white {% else %} text-gray-500 {% endif %}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"></path>
                    </svg>
                    <span class="ms-3">Rooms</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_users_index') }}" class="flex items-center p-2 rounded-lg group
                {% if app.request.attributes.get('_route') == 'app_users_index' %}
                    bg-blue-500 text-white
                {% else %}
                    text-gray-900 hover:bg-gray-100
                {% endif %}">
                    <svg class="w-5 h-5 transition duration-75 group-hover:text-gray-900 {% if app.request.attributes.get('_route') == 'app_users_index' %} text-white {% else %} text-gray-500 {% endif %}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"></path>
                    </svg>
                    <span class="ms-3">Users</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
